body {
    height: 100dvh;
}

#ms-grid,
.ms-container {
    width: 20rem;
    height: 20rem;
}

.ms-square {
    border: 1px solid black;
}

.ms-square-easy {
    width: calc(100% / 10);
    height: calc(100% / 10);
}

.ms-square-medium {
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.ms-square-hard {
    width: calc(100% / 7);
    height: calc(100% / 7);
}

@media screen and (min-width: 576px) {

    #ms-grid,
    .ms-container {
        width: 25rem;
        height: 25rem;
    }
}

@media screen and (min-width: 768px) {

    #ms-grid,
    .ms-container {
        width: 37.5rem;
        height: 37.5rem;
    }
}